.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f5f5f5;
  }
  
  .hero-content {
    text-align: center;
    width: 90%;
    max-width: 620px;
    line-height: 2rem;
  }
  
  .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .heading {
    font-size: 36px;
    font-weight: 700;
    margin-right: 16px;
  }
  
  .message-actions {
    display: flex;
  }
  
  .like-icon,
  .hero-tick-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin-left: 8px;
    position: relative; 
  }
  .fa-regular,.far{
    font-size: 7rem;
    color:gray;
  }

  
  .hero-tick-icon {
    background-color: #ff69b4;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute; 
    top: 0; 
    right: 0;
  }

  .email-message,
  .email-confirmation,
  .email-resend,
  .email-change {
    font-size: 16px;
    margin-bottom: 16px;
    color:gray;
    font-weight: 600;
  }
 
  
  .bold-text {
    font-weight: bold;
  }
  
  .resend-link,
  .change-link {
    color: #ff69b4;
  }
  
  .resend-link:hover,
  .change-link:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 767px) {
    .hero {
      height: auto;
      padding: 40px 0;
    }
  
    .hero-content {
      width: 95%;
    }
  
    .heading {
      font-size: 28px;
    }
  
    .email-message,
    .email-confirmation,
    .email-resend,
    .email-change {
      font-size: 14px;
    }
  }